.lang-selector-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: "Netflix Sans", sans-serif;
    font-optical-sizing: auto;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0.25rem;
    border: 1px solid rgba(225, 225, 225, 0.5);
    padding-inline: 1rem;
    padding-block: 0.5rem;
    transition: all 0.3s ease-in-out;
}

.lang-selector-container:focus{
    border: 2px solid rgba(225, 225, 225, 1);
}


.icon{
    height: 0.8rem;
    width: auto;
    padding-right: 0.2rem;
}

.lang-selector{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    padding: 0;
    color: white;
    font-size: 1rem;
}

@media screen and (max-width: 600px) {
    .container{
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
    }
    .lang-selector-container{
        padding-inline: 0.15rem;
        padding-block: 0.5rem;
        width: 50%;
        margin-inline: 0;
        
    }
    .icon{
        height: 1rem;
    }
    .lang-selector{
        width: 35%;
        text-overflow: hidden;
    }
    
}