<div class="body">
    <div class="stepLogoContainer">
        <img src="https://assets.nflxext.com/ffe/siteui/acquisition/simplicity/Devices.png" alt="Step 2"
            class="planStepLogo">
    </div>
    <div class="stepLogoContainer" data-uia="stepLogoContainer"><span class="stepLogo regStepLogo"></span></div>
    
    <p style="color: #333; margin-bottom: 0.5rem;">
        STEP
        <span style="font-weight: 500;">
            2
        </span>
        OF
        <span style="font-weight: 500;">4</span>
    </p>
    <div class="text-container">
        <h2 class="title">Finish setting up your account</h2>
        <p class="p">Notflix is personalized for you. Create a password to start watching Notflix.</p>
    </div>
</div>