.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 350px;
}

.step {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-bottom: 20px;
    width: 100%;
    max-width: 350px;

    p {
        color: #333;
    }

    h1 {
        font-size: 2rem;
        margin: 10px 0;
        font-weight: 500;
        color: #333;
    }
}

.sub-title {
    color: #333;
    font-size: 1.2rem;
}


.input {
    width: 316px;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 0.25rem;
    font-size: 1.2rem;
    font-weight: 350;
    margin-block: 0.5rem;
}

.input:focus {
    outline: none;
    border: 1px solid #333;
}

.btns {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.btn {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    border-radius: 0.25rem;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    font-size: 1rem;
    font-weight: 400;
    width: 350px;
    background-color: rgba(229, 9, 20, 1);
    font-size: 1.5rem;
    height: 65px;
    color:white;
    border: none;
}

