<div class="body">
    <div class="step">
        <p style="color: #333; margin-bottom: 0.5rem;">
            STEP
            <span style="font-weight: 500;">
                2
            </span>
            OF
            <span style="font-weight: 500;">4</span>
        </p>
        <h1>Create a password to start your membership</h1>
        <p class="sub-title">Just a few more steps and you're done!
            We hate paperwork, too.</p>
        <div class="input-area">
            <input class="input" id="input" placeholder="Email" autocomplete="email" minlength="5" maxlength="50"
                type="email" name="email">
            <input class="input" id="input" placeholder="Add a password" minlength="5" maxlength="50" type="password"
                name="password">
        </div>
    </div>
</div>