<div class="app-heading">
    <div class="nav-container">
        <nav class="nav">
            <div class="logo">
                <div class="logo"><a href="#">
                        <img class="logo-img"
                            src="https://cdn.cookielaw.org/logos/dd6b162f-1a32-456a-9cfe-897231c7763c/4345ea78-053c-46d2-b11e-09adaef973dc/Netflix_Logo_PMS.png"
                            alt="logo" /></a>
                </div>
            </div>

            <div class="btns">
                <a class="btn" id="signin" routerLink="/signin" routerLinkActive="active">Sign In</a>
            </div>
        </nav>
    </div>
</div>
