<app-home-heading></app-home-heading>

<div class="body">

  <div class="landing-cover">
    <div class="spacer"></div>
    <div class="landing-content">
      <div class="landing-text">

        <h1 class="landing" id="title">Unlimited movies, TV shows, and more</h1>
        <h3 class="landing" id="sub-title">Watch anywhere. Cancel anytime.</h3>
        <p class="landing" id="p">Ready to watch? Enter your email to create or restart your membership.</p>

        <!-- Get Started -->
        <app-get-started></app-get-started>

      </div>
    </div>
  </div>

  <div class="movie-feed">
    <div class="movie-list">
      <div class="movie" *ngFor="let movie of movies" (click)="viewMovieDetail(movie.id)">
        <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" alt="{{ movie.title }}">
        <div class="info">
          <h3>{{ movie.title }}</h3>
          <h4>
            <span class="movie-label" id="vote">{{ movie.vote_average | number:'1.1-1' }}</span>
            <span class="movie-label" id="lang">{{ movie.original_language }}</span>
            <span class="movie-label" id="year">{{ movie.release_date | date: 'yyyy' }}</span>

          </h4>
          <div class="overview-container">
            <p class="overview">{{ movie.overview }}&nbsp;</p>
          </div>
        </div>
      </div>
    </div>
    <div class="loading" *ngIf="loading">Loading...</div>
  </div>

</div>