<div class="app-heading">
    <div class="nav-container">
        <nav class="nav">
            <div class="logo">
                <div class="logo"><a href="#">
                        <img class="logo-img"
                            src="https://cdn.cookielaw.org/logos/dd6b162f-1a32-456a-9cfe-897231c7763c/4345ea78-053c-46d2-b11e-09adaef973dc/Netflix_Logo_PMS.png"
                            alt="logo" /></a>
                </div>
            </div>

            <div class="btns">
                <app-language-selector></app-language-selector>
                <a class="btn" id="signin" routerLink="/signin" routerLinkActive="active">Sign In</a>
            </div>
        </nav>
    </div>
</div>

<div class="body">

    <div class="landing-cover">
        <div class="spacer"></div>
        <div class="landing-content">
            <div class="landing-text">
                <h1 class="landing" id="title">Unlimited movies, TV shows, and more</h1>
                <h3 class="landing" id="sub-title">Watch anywhere. Cancel anytime.</h3>
                <p class="landing" id="p">Ready to watch? Enter your email to create or restart your membership.</p>

                <!-- Get Started -->
                <app-get-started></app-get-started>

            </div>
        </div>
    </div>

    <div class="home">
        <div class="movie-list">
          <div class="movie" *ngFor="let movie of movies" (click)="viewMovieDetail(movie.id)">
            <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" alt="{{ movie.title }}">
            <h2>{{ movie.title }}</h2>
            <h3>
                {{movie.vote_average}} · {{ movie.original_language }} · 
                {{ movie.release_date | date: 'yyyy' }}

            </h3>
            <p>{{ movie.overview }}</p>
          </div>
        </div>
        <div class="loading" *ngIf="loading">Loading...</div>
      </div>
      
</div>