<div class="landing-cover">
    <div class="spacer"></div>

    <div class="signin-window">
        <div class="title">
            <h2 class="h2title">Sign In</h2>
        </div>
        <div class="input-area">
            <input class="landing" id="input" placeholder="Email or mobile number" autocomplete="email" minlength="5"
                maxlength="50" type="email" name="email">
            <input class="landing" id="input" placeholder="Password" minlength="5" maxlength="50" type="password"
                name="password">
            <button class="btn" id="signin">
                Sign In
            </button>
            <p>OR</p>
            <button class="btn" id="code">
                Use a Sign-In Code
            </button>
            <p><a class="findpass" href="#"> Forgot Password?</a></p>
        </div>
        <div class="bottom">
            <div>
                <input class="checkbox" type="checkbox" id="check" name="checkbox" />
                <label class="checkbox" id="label" for="label">Remenber Me</label>
            </div>

            <div>
                <p>
                    <span class="newuser">New to Notfilx?</span>
                    <a class="signup" href="#">Sign up now</a>
                </p>
                <p>
                    <span class="sec-footer">
                        This page is protected by Google reCAPTCHA to ensure you're not a bot.
                        <a href="#">Learn more.</a>
                    </span>
                </p>
            </div>
        </div>



    </div>
    <div class="spacer"></div>

</div>


<!------------------------------------------------------ *
Footer 
* ------------------------------------------------------>
<div class="content">
    <div class="tel">
        Questions?
        <a class="footerlink" href="" target="_blank">1-844-505-2993</a>
    </div>
    <footer class="footer">

        <ul class="footerlist">
            <li class="list-node">
                <a class="footerlink" href="" target="_blank">FAQ</a>
            </li>
            <li class="list-node">
                <a class="footerlink" href="" target="_blank">FAQFAQ</a>
            </li>
            <li class="list-node">
                <a class="footerlink" href="" target="_blank">FAQ</a>
            </li>
            <li class="list-node">
                <a class="footerlink" href="" target="_blank">FAQFAQ</a>
            </li>
            <li class="list-node">
                <a class="footerlink" href="" target="_blank">FAQ</a>
            </li>
        </ul>

        <ul class="footerlist">
            <li class="list-node">
                <a class="footerlink" href="" target="_blank">FAQ</a>
            </li>
            <li class="list-node">
                <a class="footerlink" href="" target="_blank">FAQFAQ</a>
            </li>
            <li class="list-node">
                <a class="footerlink" href="" target="_blank">FAQ</a>
            </li>
            <li class="list-node">
                <a class="footerlink" href="" target="_blank">FAQFAQ</a>
            </li>
            <li class="list-node">
                <a class="footerlink" href="" target="_blank">FAQ</a>
            </li>
        </ul>

        <ul class="footerlist">
            <li class="list-node">
                <a class="footerlink" href="" target="_blank">FAQ</a>
            </li>
            <li class="list-node">
                <a class="footerlink" href="" target="_blank">FAQFAQ</a>
            </li>
            <li class="list-node">
                <a class="footerlink" href="" target="_blank">FAQ</a>
            </li>
            <li class="list-node">
                <a class="footerlink" href="" target="_blank">FAQFAQ</a>
            </li>
            <li class="list-node">
                <a class="footerlink" href="" target="_blank">FAQ</a>
            </li>
        </ul>

        <ul class="footerlist">
            <li class="list-node">
                <a class="footerlink" href="" target="_blank">FAQ</a>
            </li>
            <li class="list-node">
                <a class="footerlink" href="" target="_blank">FAQFAQ</a>
            </li>
            <li class="list-node">
                <a class="footerlink" href="" target="_blank">FAQ</a>
            </li>
            <li class="list-node">
                <a class="footerlink" href="" target="_blank">FAQFAQ</a>
            </li>
            <li class="list-node">
                <a class="footerlink" href="" target="_blank">FAQ</a>
            </li>
        </ul>
    </footer>
    <div class="lang-selector">
        <app-language-selector></app-language-selector>
    </div>
</div>