<div class="app-heading">
    <div class="nav-container">
        <nav class="nav">
            <div class="logo"><a href="#">
                    <img class="logo-img"
                        src="https://cdn.cookielaw.org/logos/dd6b162f-1a32-456a-9cfe-897231c7763c/4345ea78-053c-46d2-b11e-09adaef973dc/Netflix_Logo_PMS.png"
                        alt="logo" /></a>
            </div>
        </nav>
    </div>
</div>


<div class="landing-cover">
    <div class="spacer"></div>
    <div class="signin-window">
        <div class="title">
            <h2 class="h2title">Sign In</h2>
        </div>
        <div class="input-area">
            <form [formGroup]="signinForm" (ngSubmit)="signin()">
                <input class="landing" id="input" formControlName="email" placeholder="Enter email" autocomplete="username">
                <div *ngIf="signinForm.get('email')?.invalid && signinForm.get('email')?.touched" class="error" style="margin-bottom: 0.5rem; color:red">*Please enter email!</div>
                <input class="landing" id="input" formControlName="password" placeholder="Enter password" type="password" autocomplete="current-password">
                <div *ngIf="signinForm.get('password')?.invalid && signinForm.get('password')?.touched" class="error" style="margin-bottom: 0.5rem; color:red">*Please enter valid TMDB API Read Token!</div>
                <div class="error" style="color: red; margin-block: 1rem;">{{ errorMessage }}</div>
                <div style="margin-block: 1rem">
                    <input formControlName="rememberMe" type="checkbox" id="check">
                    <label for="check">Remember Me</label>
                </div>
                <button type="submit" class="signin-btn">Sign In</button>
                <p><a class="findpass" href="https://www.netflix.com/LoginHelp" target="_blank"> Forgot Password?</a></p>
                <div class="bottom">
                    <div>
                        <p>
                            <span class="newuser">New to Notfilx?</span>
                            <a class="signup" href="/signup">Sign up now</a>
                        </p>
                        <p>
                            <span class="sec-footer">
                                This page is protected by Google reCAPTCHA to ensure you're not a bot.
                                <a href="#">Learn more.</a>
                            </span>
                        </p>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="spacer"></div>
</div>



<!------------------------------------------------------ *
Footer 
* ------------------------------------------------------>
<div class="content">
    <div class="tel">
        Questions? Call
        <a class="footerlink" href="" target="_blank">1-844-505-2993</a>
    </div>
    <footer class="footer">

        <ul class="footerlist">
            <li class="list-node">
                <a class="footerlink" href="" target="_blank">FAQ</a>
            </li>
            <li class="list-node">
                <a class="footerlink" href="" target="_blank">FAQFAQ</a>
            </li>
            <li class="list-node">
                <a class="footerlink" href="" target="_blank">FAQ</a>
            </li>
            <li class="list-node">
                <a class="footerlink" href="" target="_blank">FAQFAQ</a>
            </li>
            <li class="list-node">
                <a class="footerlink" href="" target="_blank">FAQ</a>
            </li>
        </ul>

        <ul class="footerlist">
            <li class="list-node">
                <a class="footerlink" href="" target="_blank">FAQ</a>
            </li>
            <li class="list-node">
                <a class="footerlink" href="" target="_blank">FAQFAQ</a>
            </li>
            <li class="list-node">
                <a class="footerlink" href="" target="_blank">FAQ</a>
            </li>
            <li class="list-node">
                <a class="footerlink" href="" target="_blank">FAQFAQ</a>
            </li>
            <li class="list-node">
                <a class="footerlink" href="" target="_blank">FAQ</a>
            </li>
        </ul>

        <ul class="footerlist">
            <li class="list-node">
                <a class="footerlink" href="" target="_blank">FAQ</a>
            </li>
            <li class="list-node">
                <a class="footerlink" href="" target="_blank">FAQFAQ</a>
            </li>
            <li class="list-node">
                <a class="footerlink" href="" target="_blank">FAQ</a>
            </li>
            <li class="list-node">
                <a class="footerlink" href="" target="_blank">FAQFAQ</a>
            </li>
            <li class="list-node">
                <a class="footerlink" href="" target="_blank">FAQ</a>
            </li>
        </ul>

        <ul class="footerlist">
            <li class="list-node">
                <a class="footerlink" href="" target="_blank">FAQ</a>
            </li>
            <li class="list-node">
                <a class="footerlink" href="" target="_blank">FAQFAQ</a>
            </li>
            <li class="list-node">
                <a class="footerlink" href="" target="_blank">FAQ</a>
            </li>
            <li class="list-node">
                <a class="footerlink" href="" target="_blank">FAQFAQ</a>
            </li>
            <li class="list-node">
                <a class="footerlink" href="" target="_blank">FAQ</a>
            </li>
        </ul>
    </footer>
    <div class="lang-selector">
        <app-language-selector></app-language-selector>
    </div>
</div>